@tailwind base;
@tailwind components;
@tailwind utilities;

.font-aboreto {
    font-family: var(--font-aboreto);
}

.font-majorMono {
    font-family: var(--font-majorMono);
}

.font-whisper {
    font-family: var(--font-whisper);
}

.font-poiret {
  font-family: var(--font-poiret);
}

.work span {
    display: inline-block;
    animation: flip 5s infinite;
    animation-delay: calc(0.4s * var(--i));
}

@keyframes flip {
    0%,
    80% {
        transform: rotateY(360deg);
    }
}